html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}